.home {
    background-color: #ade8f4;
}

#search_results {
    border-radius: 5px;
}

.card {
    height: 60vh;
}

.recipe {
    position: relative;
    height: 60vh;
}

.recipe-link-user {
    position: absolute;
    left: 8%;
    bottom: 20px;
}

.favorite-btn {
    position: absolute;
    left: 38%;
    bottom: 20px;
}

.cart-btn {
    position: absolute;
    left: 77%;
    bottom: 20px;
}

#user_favorites {
    border-radius: 5px;
}

.profile-icon {
    max-height: 5vh;
    max-width: 10vw;
}

.hidden {
    display: none;
}

.btn {
    cursor: pointer;
}

.fa-cart-shopping {
    color: #76bdf3
}

.cart-item {
    color: #fb1818;
}

.inline {
    display: inline;
}

.fa-spinner {
    font-size: 10rem;
    margin: 2%;
    text-align: center;
  }

.hide-scroll {
    overflow: hidden;
}

.fruit {
    position: absolute;
}

.fruit-left {
    left: 5vh;
}

.fruit-right {
    right: 5vh;
}

footer {
    background-color: rgb(52, 89, 230);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5em 0;
}

.footer-text {
    color: white;
    margin: 0;
    font-size: 1.2em;
}

.alert-success {
    background-color: #2E8B57;
    color: white;
    opacity: 0.9;
}

.column-list {
    columns: 2; /* Number of columns */
  }

h1,
h2,
h3,
p,
label,
option {
    font-family: "Rubik", sans-serif;
    color: black;
}