{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-12 mt-3 search_headers">
            <h1>Search For Recipes</h1>
            <h2>Filter by ingredients, diet, and cuisine</h2>
        </div>
        <div class="row justify-content-start mb-3">
            <div class="col-8 justify-self-start">
                <label for="ingredient_list" class="form-label">Ingredients</label>
                <input type="text" class="form-control" id="ingredient_list" name="ingredient_list">
            </div>
            <div class="col-1 align-self-end">
                <button class="btn btn-primary" id="submit_search">Search</button>
            </div>
        </div>
    </div>
    <div class="row bg-secondary shadow-lg" id="search_results">
        <div class="col-3 recipe">
            asdflakdjflkj
        </div>
        <div class="col-3 recipe">
            asdflakdjflkj
        </div>
        <div class="col-3 recipe">
            asdflakdjflkj
        </div>
    </div>
</div>


{% endblock %}