{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-12 mt-3 search_headers">
            <h1>Search For Recipes</h1>
            <h2>Filter by ingredients and diet</h2>
        </div>
        <div class="row justify-content-start mb-1">
            <div class="col-lg-8 justify-self-start">
                <label for="ingredient_list_include" class="form-label">Ingredients</label>
                <input type="text" class="form-control" id="ingredient_list_include" name="ingredient_list_include">
            </div>
            <div class="col-lg-4">
                <label for="diet" class="form-label">Diet</label>
                <select id="diet" name="diet" class="form-control">
                    <option value="none">None</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="lacto-vegetarian">Lacto-Vegetarian</option>
                    <option value="ovo-vegetarian">Ovo-Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="pescetarian">Pescetarian</option>
                    <option value="paleo">Paleo</option>
                    <option value="low-fodmap">Low FODMAP</option>
                    <option value="whole30">Whole30</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-8">
                <label for="ingredient_list_exclude" class="form-label">Excluded Ingredients</label>
                <input type="text" class="form-control" id="ingredient_list_exclude" name="ingredient_list_exclude"
                 value="{% for allergy in g.user.allergies %}{{ allergy.id }}{% if not loop.last %}, {% endif %}{% endfor %}">
            </div>
            <div class="col-4 text-center align-content-end">
                <button class="btn btn-primary btn-lg" id="submit_search">Search</button>
            </div>
        </div>
    </div>
    <div class="row bg-secondary shadow-lg" id="search_results">
    </div>
</div>
<script>
    // Set the default value of the diet option to the user's diet
    const dietSelect = document.querySelector('#diet');
    const userDiet = '{{ g.user.diet | default("none") }}';
    dietSelect.value = userDiet;
</script>

{% endblock %}