{% extends 'base.html' %}

{% block body_class %}bg-peach{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center" style="border-radius: 5px;">
        <div class="col-4">
            <img src="{{g.user.image_url}}">
        </div>
        <div class="col-6 text-center">
            <h3>{{ g.user.username }}</h3>
            <ul>
                <li><strong>Email: </strong>{{ g.user.email }}</li>
                <li><strong>Diet: </strong>{{ g.user.diet }}</li>
                <li><strong>Allergies: </strong>{% for allergy in g.user.allergies %}{{ allergy.id }}{% endfor %}</li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="display-2 text-center">Favorite Recipes</h1>
        </div>
        <div class="row bg-secondary pb-3 mb-3" id="user_favorites">
        </div>
    </div>
</div>

{% endblock %}