{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center bg-secondary p-3 m-3" style="border-radius: 5px;">
        <div class="col-4">
            <img src="{{g.user.image_url}}" style="max-height: 30vh;">
        </div>
        <div class="col-4 text-start">
            <h3 class="ms-3">{{ g.user.username }}</h3>
            <ul>
                <li><strong>Email: </strong>{{ g.user.email }}</li>
                <li><strong>Diet: </strong>{{ g.user.diet }}</li>
                <li><strong>Allergies: </strong>{% for allergy in g.user.allergies %}{{ allergy.id}}{% if not loop.last %}, {% endif %}{% endfor %}</li>
            </ul>
        </div>
        <div class="col-2 align-content-end">
            <a href="/users/edit" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="display-2 text-center">Favorite Recipes</h1>
        </div>
        <div class="row bg-secondary" id="user_favorites">
        </div>
    </div>
</div>

{% endblock %}