{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="display-2 text-center">Shopping Cart</h1>
    {% if not recipes %}
    <h2>Add recipes here to recieve a shopping list of all necessary ingredients to your email!</h2>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-8 text-center bg-secondary mt-3 p-3" style="border-radius: 5px;">
            {% include 'users/email_template.html' %}
            <form action="/send_email" method="POST" class="text-end">
                <button class="btn btn-lg btn-primary">Send Email</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}